
/*style sheet*/


.container{
  width: 1000px;
  height: 1000px;


 }


#temp, #maxmin, #cloudiness, #wind, #description, #humidity{
  font-family: "Courier New";
  font-size: 20px;
  font-weight: bold;
  color: black;
}
.customWidth {
  height: 100px;
  left: 90px;
  text-align: center;
  margin-right: 160px;
  margin-bottom: 50px;
}
#main{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 600px;
  width: 100%;
  height: 200px;

}
body{
  background-color: #cceeff;
}
.userinput{
  position:absolute;
  top:10%;
  left:50%;

}


#weather{
  top: 70%;
}
#search-btn{
  width:40px;
  height: 40px;
  padding:10px;
}


#icon{
  height:200%;

}



.city{
    position: absolute;
    left:50%;
    top:50%;
    height:100px;
    width: 100px;
}
#cityname{
  font-family: "Courier New";
  font-size: 30px;
  font-weight: bold;
  color: black;
}
.placeholder{
  position:inherit;
  left:50%;
  top:50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;

}
